/firebase
/.idea
/ie_script/.ipynb_checkpoints
/ie_script/data
/ie_script/data_split
/ie_script/model
/ie_script/result_minie
/ie_script/result_openie
/ie_script/abstract_data.pkl
/ie_script/abstract_embed.pkl
/ie_script/cleaned_data.sav
/ie_script/minie-entity.csv
/ie_script/minie-relation.csv
/frontend/.vscode
/umls
/backend/embed/model
/backend/embed/abstract_data.pkl
/backend/embed/abstract_embed.pkl
/backend/neo4j/data
/backend/neo4j/logs
/backend/neo4j/plugins
/backend/neo4j/import/minie-entity.csv
/backend/neo4j/import/minie-relation.csv
/ie_script/body_text
/ie_script/abstract.json
/ie_script/for_biobert
/backend/embed/abstract_qa.pkl
